.container {
  display: flex;
  flex-direction: column;
}

.containerTitle {
  display: flex;
}

.buttonTitle input {
  display: flex;
  justify-content: end;
  position: absolute;
  margin-left: 12px;
  margin-top: 2px;
  outline: none;
  border-radius: 10px;
  border: 0;
  height: 35px;
}

.iconsAction {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: 5px;
}