.container {
  background-color: #00FFFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #FFF;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}